.btn {
  margin: 0;
  padding: 10;
  display: inline-block;
  line-height: 10px;
  border: 1px solid;
  box-sizing: content-box;
}
.btn{
  background: #fff;
}
.btn-default {
  border-color: #000;
  color: #000;
}
.btn-warning {
  color: #ff0000;
  border-color: #ff0000;
}
.btn-success {
  color: #008000;
  border-color: #008000;
}
.btn-danger {
  color: #ff0000;
  border-color: #ff0000;
}

/*input.btn{
  margin: 0;
  padding: 10;
  display: inline-block;
  line-height: 10px;
}/
